<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/about.css">
</head>
<body>
    <%- include('./common/header.ejs')%> 
    <!------------------------------- about us form:start ----------------------->

  <div class="container">
    <h1 class="my-4 text-center display-5 fw-bold"><span>About</span> Us</h1>

    <div class="row g-5">
      <div class="col-12 mx-auto">
        <img src="./public/images/banner6.png" alt="">
      </div>

      <div class="col-12  mx-auto mb-5">
        <section class="box">
            <p class="lead">Dear readers,<br><br>

              We offer huge collection of Toys in diverse category of Educational Toys, Skill Development Toys,Blocks,Vehicles Toys,
              Engineering, Medical, College and School text references Toys proposed by different institutes as
              syllabus across the country. Besides to this, we also offer a large collection of Toys at very fair
              pricing.<br><br>

              We attempt to extend the customer satisfaction by catering easy user-friendly search engine, quick and
              user-friendly payment options and quicker delivery systems. Upside to all of this, we are disposed to
              provide exciting offers and pleasant discounts on our books.<br><br>

              As well, we humbly invite all the sellers around the country to partner with us. We will surely provide
              you the platform for many sparkling domains and grow the “ToyStore” family.We would like to thank you
              for shopping with us. You can write us for any new thoughts at “email-id” helping us to improvise for the
              reader satisfaction.</p>
          
        </section>


        <!-- col:end -->
      </div>

       </div>
</div>

      <!------------------------------- about us form:end ----------------------->
      <%- include('./common/footer.ejs')%> 
</body>
</html>