<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/books.css">
    <link rel="stylesheet" href="./public/css/common.css">
    
</head>
<body>

<%- include('./common/header.ejs')%> 
<!-------------------------------  books entry:start ----------------------->

<div class="container">
    <h1 class="my-4 text-center display-5 fw-bold "><span>Children </span>Books</h1>

    <!------------------------------- Refine Search:start ----------------------->

<div class="container">
    <div class="row">
        <div class="col">
            <p>Price Range:<span class="text-white fw-bold"> Rs.100-5000</span></p>
    
    <div class="slidecontainer">
      <input type="range" min="100" max="5000" value="2500" class="slider" id="myRange">
      <p>Price: <span id="demo"></span></p>
    </div>
    
        </div>
        <div class="col">
    
        </div>
        <div class="col">
    
        </div>
        <!-- row:end -->
    </div>
    
    
    
    
    <!-- container :end -->
    </div>
    
    
    
       <!------------------------------- Refine Search:End ----------------------->
    

    <div class="row g-5">
      <div class="col-12 mx-auto">
        <!-- <img src="image/aboutbanner.png" alt=""> -->
      </div>
      <!-- row:end -->
</div>

<!-- row :start -->
<div class="row g-5 ">
      
   <!-- col 1:start -->
    <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
         <div class="pos">          
          <img   class="img-fluid" src="./public/images/img43.jpg" alt="">
          <span class="badge bg-danger rounded-pill">20%</span>
        </div>
           <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
       <!-- coln1:end -->

       <!-- col 2:start -->
       <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <div class="pos">          
         <img   class="img-fluid" src="./public/images/img44.jpg" alt="">
         <span class="badge bg-danger rounded-pill">20%</span>
       </div>
          <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
     <!-- coln2:end -->

     <!-- col 3:start -->
     <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
       <img   class="img-fluid" src="./public/images/img45.jpg" alt="">
       <span class="badge bg-danger rounded-pill">20%</span>
     </div>
        <span>
         <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </span>
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
     <!-- coln3:end -->

     <!-- col 4:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
        <img   class="img-fluid" src="./public/images/img46.jpg" alt="">
        <span class="badge bg-danger rounded-pill">15%</span>
      </div>
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
     <!-- coln4:end -->

     <!-- col 5:start -->
     <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
       <img   class="img-fluid" src="./public/images/img47.jpg" alt="">
       <span class="badge bg-danger rounded-pill">20%</span>
     </div>
        <span>
         <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </span>
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
     <!-- coln5:end -->

     <!-- col 6:start -->
     <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
       <img   class="img-fluid" src="./public/images/img48.jpg" alt="">
       <span class="badge bg-danger rounded-pill">20%</span>
     </div>
        <span>
         <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </span>
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
     <!-- coln6:end -->

         <!-- row:end -->
       </div>

<!-- row 2:start -->
<div class="row g-5 mt-3">
      
    <!-- col 1:start -->
    <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
       <img   class="img-fluid" src="./public/images/img49.jpg" alt="">
       <span class="badge bg-danger rounded-pill">20%</span>
     </div>
        <span>
         <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </span>
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
       <!-- coln1:end -->
       <!-- col 2:start -->
       <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <div class="pos">          
         <img   class="img-fluid" src="./public/images/img50.jpg" alt="">
         <span class="badge bg-danger rounded-pill">20%</span>
       </div>
          <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
     <!-- coln2:end -->

     <!-- col 3:start -->
     <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
       <img   class="img-fluid" src="./public/images/img51.jpg" alt="">
       <span class="badge bg-danger rounded-pill">20%</span>
     </div>
        <span>
         <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </span>
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
     <!-- coln3:end -->

     <!-- col 4:start -->
     <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
       <img   class="img-fluid" src="./public/images/img52.jpg" alt="">
       <span class="badge bg-danger rounded-pill">20%</span>
     </div>
        <span>
         <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </span>
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
     <!-- coln4:end -->

     <!-- col 5:start -->
     <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
       <img   class="img-fluid" src="./public/images/img53.jpg" alt="">
       <span class="badge bg-danger rounded-pill">20%</span>
     </div>
        <span>
         <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </span>
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
     <!-- coln5:end -->

     <!-- col 6:start -->
     <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
       <img   class="img-fluid" src="./public/images/img54.jpg" alt="">
       <span class="badge bg-danger rounded-pill">20%</span>
     </div>
        <span>
         <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </span>
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
     <!-- coln6:end -->

         <!-- row 2:end -->
       </div>


       <!-- row 3:start -->
<div class="row g-5 mt-3">
      
  <!-- col 1:start -->
  <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <div class="pos">          
      <img   class="img-fluid" src="./public/images/img55.jpg" alt="">
      <span class="badge bg-danger rounded-pill">25%</span>
    </div>
        <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
       </div>
     <!-- coln1:end -->
     <!-- col 2:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
        <img   class="img-fluid" src="./public/images/img56.jpg" alt="">
        <span class="badge bg-danger rounded-pill">20%</span>
      </div>
     
      <span>
        <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
     </span> 
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
     </div>
   <!-- coln2:end -->

   <!-- col 3:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <img  class="img-fluid " src="./public/images/img57.jpg" alt="">
      <span>
          <br><i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
       </div>   
     </div>
   <!-- coln3:end -->

   <!-- col 4:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <img  class="img-fluid" src="./public/images/img58.jpg" alt="">
      <span>
          <br><i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
       </div>    
     </div>
   <!-- coln4:end -->

   <!-- col 5:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <div class="pos">          
      <img   class="img-fluid" src="./public/images/img59.jpg" alt="">
      <span class="badge bg-danger rounded-pill">20%</span>
    </div>
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>     
     </div>
   <!-- coln5:end -->

   <!-- col 6:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <img  class="img-fluid" src="./public/images/img60.jpg" alt="">
      <span>
          <br><i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>    
     </div>
   <!-- coln6:end -->

       <!-- row 3:end -->
    </div>

     <!-- row 4:start -->
<div class="row g-5 mt-3">
      
  <!-- col 1:start -->
  <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
        <img   class="img-fluid" src="./public/images/img61.jpg" alt="">
        <div>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </div>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
       </div>
     <!-- coln1:end -->
     <!-- col 2:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img62.jpg" alt="">
     
      <div>
        <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
      </div> 
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
     </div>
   <!-- coln2:end -->

   <!-- col 3:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img63.jpg" alt="">
      <div>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </div>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
       </div>   
     </div>
   <!-- coln3:end -->

   <!-- col 4:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img64.jpg" alt="">
      <div>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </div>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
       </div>    
     </div>
   <!-- coln4:end -->

   <!-- col 5:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img65.jpg" alt="">
      <div>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
      </div>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>     
     </div>
   <!-- coln5:end -->

   <!-- col 6:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img66.jpg" alt="">
      <div>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </div>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>    
     </div>
   <!-- coln6:end -->

       <!-- row 4:end -->
     </div>

     <!-- row 5:start -->
     <div class="row g-5 mt-3">
      
      <!-- col 1:start -->
      <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <div class="pos">          
          <img   class="img-fluid" src="./public/images/img55.jpg" alt="">
          <span class="badge bg-danger rounded-pill">25%</span>
        </div>
            <span>
              <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
           </span>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
           </div>
         <!-- coln1:end -->
         <!-- col 2:start -->
         <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
          <div class="pos">          
            <img   class="img-fluid" src="./public/images/img56.jpg" alt="">
            <span class="badge bg-danger rounded-pill">20%</span>
          </div>
         
          <span>
            <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
         </span> 
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
       <!-- coln2:end -->
    
       <!-- col 3:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
          <img  class="img-fluid " src="./public/images/img57.jpg" alt="">
          <span>
              <br><i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
           </span>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
           </div>   
         </div>
       <!-- coln3:end -->
    
       <!-- col 4:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
          <img  class="img-fluid" src="./public/images/img58.jpg" alt="">
          <span>
              <br><i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
           </span>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
           </div>    
         </div>
       <!-- coln4:end -->
    
       <!-- col 5:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <div class="pos">          
          <img   class="img-fluid" src="./public/images/img59.jpg" alt="">
          <span class="badge bg-danger rounded-pill">20%</span>
        </div>
          <span>
              <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
           </span>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
           </div>     
         </div>
       <!-- coln5:end -->
    
       <!-- col 6:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
          <img  class="img-fluid" src="./public/images/img60.jpg" alt="">
          <span>
              <br><i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
           </span>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
           </div>    
         </div>
       <!-- coln6:end -->
    
           <!-- row 5:end -->
        </div>
    
         <!-- row 6:start -->
    <div class="row g-5 mt-3">
          
      <!-- col 1:start -->
      <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
            <img   class="img-fluid" src="./public/images/img61.jpg" alt="">
            <div>
              <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
            </div>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
           </div>
         <!-- coln1:end -->
         <!-- col 2:start -->
         <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
          <img  class="img-fluid" src="./public/images/img62.jpg" alt="">
         
          <div>
            <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
          </div> 
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
       <!-- coln2:end -->
    
       <!-- col 3:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
          <img  class="img-fluid" src="./public/images/img63.jpg" alt="">
          <div>
              <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
          </div>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
           </div>   
         </div>
       <!-- coln3:end -->
    
       <!-- col 4:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
          <img  class="img-fluid" src="./public/images/img64.jpg" alt="">
          <div>
              <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
          </div>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
           </div>    
         </div>
       <!-- coln4:end -->
    
       <!-- col 5:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
          <img  class="img-fluid" src="./public/images/img65.jpg" alt="">
          <div>
              <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
          </div>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
           </div>     
         </div>
       <!-- coln5:end -->
    
       <!-- col 6:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
          <img  class="img-fluid" src="./public/images/img66.jpg" alt="">
          <div>
              <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
           </div>
           <div>
            <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
            <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
           </div>    
         </div>
       <!-- coln6:end -->
    
           <!-- row 6:end -->
         </div>
    



<!-- pagination :start -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
   <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">6</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
<!-- pagination :end -->
<!-- container:end -->
</div>
<%- include('./common/footer.ejs')%> 
<script src="./public/js/common.js"></script>
</body>
</html>