<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="./public/css/index.css">
    <link rel="stylesheet" href="./public/css/common.css">
    <script src="./public/js/common.js"></script>


</head>
<body>
    <%- include('./common/header.ejs')%>     
    
  <!-- container-fluid carousel:start -->
<div class="container-fluid m-0 p-0">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="./public/images/banner1.png" class="d-block w-100 h-75" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./public/images/banner3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./public/images/banner4.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="./public/images/banner5.png" class="d-block w-100" alt="...">
        </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
      <!-- carousel:end -->
  </div>
   <!-- container-fluid:end -->


   <div class="container mb-5">
    <hr class="my-5" />
    
    <h1 class="my-4 text-center display-5 fw-bold "><span class="text-blue">Best </span>Seller</h1>
</div>




<div class="container">
  <!-- row :start -->
<div class="row g-5 ">
      
  <!-- col 1:start -->
   <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <div class="pos">          
         <img   class="img-fluid" src="./public/images/img67.jpg" alt="">
         <span class="badge bg-danger rounded-pill">20%</span>
       </div>
          <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
      <!-- coln1:end -->

      <!-- col 2:start -->
      <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img2.jpg" alt="">
      
       <span>
         <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
      </span> 
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
    <!-- coln2:end -->

    <!-- col 3:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
     <div class="pos">          
       <img   class="img-fluid" src="./public/images/img69.jpg" alt="">
       <span class="badge bg-danger rounded-pill">30%</span>
     </div>
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln3:end -->

    <!-- col 4:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
     <div class="pos">          
       <img   class="img-fluid" src="./public/images/img70.jpg" alt="">
       <span class="badge bg-danger rounded-pill">15%</span>
     </div>
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln4:end -->

    <!-- col 5:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img71.jpg" alt="">
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln5:end -->

    <!-- col 6:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img72.jpg" alt="">
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
        </div>   
      </div>
    <!-- coln6:end -->

        <!-- row:end -->
      </div>

      <div class="text-center"><a class="btn fw-bold " href="#"> see more</a></div>
<!-- container:end -->
</div>




<hr class="my-5" />
<div class="container-fluid">
  <img src="./public/images/banner5.png" alt="">
</div>
<div class="container mb-5">
  <hr class="my-5" />
    <h1 class="my-4 text-center display-5 fw-bold "><span class="text-blue">Children </span>Books</h1>
</div>

<div class="container">
  <!-- row :start -->
<div class="row g-5 ">
      
  <!-- col 1:start -->
   <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <div class="pos">          
         <img   class="img-fluid" src="./public/images/img51.jpg" alt="">
         <span class="badge bg-danger rounded-pill">20%</span>
       </div>
          <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
      <!-- coln1:end -->

      <!-- col 2:start -->
      <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img52.jpg" alt="">
      
       <span>
         <br><i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
      </span> 
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
    <!-- coln2:end -->

    <!-- col 3:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
     <div class="pos">          
       <img   class="img-fluid" src="./public/images/img53.jpg" alt="">
       <span class="badge bg-danger rounded-pill">30%</span>
     </div>
       <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln3:end -->

    <!-- col 4:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
     <div class="pos">          
       <img   class="img-fluid" src="./public/images/img54.jpg" alt="">
       <span class="badge bg-danger rounded-pill">15%</span>
     </div>
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln4:end -->

    <!-- col 5:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img55.jpg" alt="">
       <span>
         <br>  <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln5:end -->

    <!-- col 6:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img56.jpg" alt="">
       <span>
           <br><i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
        </div>   
      </div>
    <!-- coln6:end -->

        <!-- row:end -->
      </div>

      <div class="text-center"><a class="btn fw-bold " href="./books.ejs"> see more</a></div>
<!-- container:end -->
</div>

<div class="container mb-5">
  <hr class="my-5" />
 
  <h1 class="my-4 text-center display-5 fw-bold "><span class="text-blue">Baby & </span>Toddlers</h1>
</div>

<div class="container">
  <!-- row :start -->
<div class="row g-5 ">
      
  <!-- col 1:start -->
   <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <div class="pos">          
         <img   class="img-fluid" src="./public/images/img67.jpg" alt="">
         <span class="badge bg-danger rounded-pill">20%</span>
       </div>
          <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
      <!-- coln1:end -->

      <!-- col 2:start -->
      <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img2.jpg" alt="">
      
       <span>
         <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
      </span> 
      <div>
       <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
       <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
      </div>
    <!-- coln2:end -->

    <!-- col 3:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
     <div class="pos">          
       <img   class="img-fluid" src="./public/images/img69.jpg" alt="">
       <span class="badge bg-danger rounded-pill">30%</span>
     </div>
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln3:end -->

    <!-- col 4:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
     <div class="pos">          
       <img   class="img-fluid" src="./public/images/img70.jpg" alt="">
       <span class="badge bg-danger rounded-pill">15%</span>
     </div>
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln4:end -->

    <!-- col 5:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img71.jpg" alt="">
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
        </div>
    <!-- coln5:end -->

    <!-- col 6:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
       <img  class="img-fluid" src="./public/images/img72.jpg" alt="">
       <span>
           <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
        </span>
        <div>
         <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
         <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
        </div>   
      </div>
    <!-- coln6:end -->

        <!-- row:end -->
      </div>

      <div class="text-center"><a class="btn fw-bold " href="#"> see more</a></div>
<!-- container:end -->
</div>

    <%- include('./common/footer.ejs')%>

<!------------------------ carousel1:script:start ------------------------>
<script>
  let items = document.querySelectorAll(' #carousel1  .carousel-item ')
  // let items = document.querySelectorAll('.carousel .carousel-item')

  items.forEach((el) => {
    const minPerSlide = 4
    let next = el.nextElementSibling
    for (var i = 1; i < minPerSlide; i++) {
      if (!next) {
        // wrap carousel by using first child
        next = items[0]
      }
      let cloneChild = next.cloneNode(true)
      el.appendChild(cloneChild.children[0])
      next = next.nextElementSibling
    }
  })
</script>
<!------------------------ carousel1:script:end ------------------------>


  </body>

</html>