<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/babytoys.css">
    <link rel="stylesheet" href="./public/css/common.css">
    
</head>
<body>

<%- include('./common/header.ejs')%> 
<!------------------------------- fiction books entry:start ----------------------->

<div class="container">
    <h1 class="my-4 text-center display-5 fw-bold "><span class="text-blue">Baby & </span>Toddlers</h1>

    <!------------------------------- Refine Search:start ----------------------->

<div class="container">
    <div class="row">
        <div class="col">
            <p>Price Range:<span class="text-white fw-bold"> Rs.100-5000</span></p>
    
    <div class="slidecontainer">
      <input type="range" min="100" max="5000" value="2500" class="slider" id="myRange">
      <p>Price: <span id="demo"></span></p>
    </div>
    
        </div>
        <div class="col">
    
        </div>
        <div class="col">
    
        </div>
        <!-- row:end -->
    </div>
    
    
    
    
    <!-- container :end -->
    </div>
    
    
    
       <!------------------------------- Refine Search:End ----------------------->
    

    <div class="row g-5">
      <div class="col-12 mx-auto">
        <!-- <img src="image/aboutbanner.png" alt=""> -->
      </div>
      <!-- row:end -->
</div>

<!-- row :start -->
<div class="row g-5 ">
      
   <!-- col 1:start -->
    <div class="col-6 col-md-4 col-lg-2 mx-auto box1 text-center py-3">
         <div class="pos">          
          <img   class="img-fluid" src="./public/images/img1.jpg" alt="">
          <span class="badge bg-danger rounded-pill">20%</span>
        </div>
           <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
       <!-- coln1:end -->

       <!-- col 2:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <img  class="img-fluid" src="./public/images/img2.jpg" alt="">
       
        <span>
          <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
       </span> 
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
       </div>
     <!-- coln2:end -->

     <!-- col 3:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
        <img   class="img-fluid" src="./public/images/img3.jpg" alt="">
        <span class="badge bg-danger rounded-pill">30%</span>
      </div>
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
     <!-- coln3:end -->

     <!-- col 4:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
        <img   class="img-fluid" src="./public/images/img4.jpg" alt="">
        <span class="badge bg-danger rounded-pill">15%</span>
      </div>
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
     <!-- coln4:end -->

     <!-- col 5:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <img  class="img-fluid" src="./public/images/img5.jpg" alt="">
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
     <!-- coln5:end -->

     <!-- col 6:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
        <img  class="img-fluid" src="./public/images/img6.jpg" alt="">
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
         </div>   
       </div>
     <!-- coln6:end -->

         <!-- row:end -->
       </div>

<!-- row 2:start -->
<div class="row g-5 mt-3">
      
    <!-- col 1:start -->
    <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
          <img   class="img-fluid" src="./public/images/img7.jpg" alt="">
          <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
         </div>
       <!-- coln1:end -->
       <!-- col 2:start -->
       <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
        <div class="pos">          
          <img   class="img-fluid" src="./public/images/img8.jpg" alt="">
          <span class="badge bg-danger rounded-pill">20%</span>
        </div>
       
        <span>
          <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
       </span> 
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
       </div>
     <!-- coln2:end -->

     <!-- col 3:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
        <img  class="img-fluid" src="./public/images/img9.jpg" alt="">
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
         </div>   
       </div>
     <!-- coln3:end -->

     <!-- col 4:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <div class="pos">          
        <img   class="img-fluid" src="./public/images/img10.jpg" alt="">
        <span class="badge bg-danger rounded-pill">30%</span>
      </div>
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
         </div>    
       </div>
     <!-- coln4:end -->

     <!-- col 5:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
        <img  class="img-fluid" src="./public/images/img11.jpg" alt="">
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
         </div>     
       </div>
     <!-- coln5:end -->

     <!-- col 6:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
        <img  class="img-fluid" src="./public/images/img12.jpg" alt="">
        <span>
            <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
         </span>
         <div>
          <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
          <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
         </div>    
       </div>
     <!-- coln6:end -->

         <!-- row 2:end -->
       </div>


       <!-- row 3:start -->
<div class="row g-5 mt-3">
      
  <!-- col 1:start -->
  <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <div class="pos">          
      <img   class="img-fluid" src="./public/images/img13.jpg" alt="">
      <span class="badge bg-danger rounded-pill">25%</span>
    </div>
        <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
       </div>
     <!-- coln1:end -->
     <!-- col 2:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <div class="pos">          
        <img   class="img-fluid" src="./public/images/img14.jpg" alt="">
        <span class="badge bg-danger rounded-pill">20%</span>
      </div>
     
      <span>
        <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
     </span> 
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
     </div>
   <!-- coln2:end -->

   <!-- col 3:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <img  class="img-fluid" src="./public/images/img15.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
       </div>   
     </div>
   <!-- coln3:end -->

   <!-- col 4:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <img  class="img-fluid" src="./public/images/img16.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
       </div>    
     </div>
   <!-- coln4:end -->

   <!-- col 5:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <div class="pos">          
      <img   class="img-fluid" src="./public/images/img17.jpg" alt="">
      <span class="badge bg-danger rounded-pill">20%</span>
    </div>
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>     
     </div>
   <!-- coln5:end -->

   <!-- col 6:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <img  class="img-fluid" src="./public/images/img18.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>    
     </div>
   <!-- coln6:end -->

       <!-- row 3:end -->
    </div>

     <!-- row 4:start -->
<div class="row g-5 mt-3">
      
  <!-- col 1:start -->
  <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
        <img   class="img-fluid" src="./public/images/img19.jpg" alt="">
        <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
       </div>
     <!-- coln1:end -->
     <!-- col 2:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img20.jpg" alt="">
     
      <span>
        <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
     </span> 
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
-`     </div>
   <!-- coln2:end -->

   <!-- col 3:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img21.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
       </div>   
     </div>
   <!-- coln3:end -->

   <!-- col 4:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img22.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
       </div>    
     </div>
   <!-- coln4:end -->

   <!-- col 5:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img23.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>     
     </div>
   <!-- coln5:end -->

   <!-- col 6:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img24.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>    
     </div>
   <!-- coln6:end -->

       <!-- row 4:end -->
     </div>


     <!-- row 5:start -->
<div class="row g-5 mt-3">
    
<!-- col 1:start -->
<div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <img   class="img-fluid" src="./public/images/img25.jpg" alt="">
      <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
     </div>
   <!-- coln1:end -->
   <!-- col 2:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img26.jpg" alt="">
   
    <span>
      <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
   </span> 
   <div>
    <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
    <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
   </div>
 <!-- coln2:end -->

 <!-- col 3:start -->
 <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img27.jpg" alt="">
    <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
     </div>   
   </div>
 <!-- coln3:end -->

 <!-- col 4:start -->
 <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img28.jpg" alt="">
    <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
     </div>    
   </div>
 <!-- coln4:end -->

 <!-- col 5:start -->
 <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img29.jpeg" alt="">
    <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
     </div>     
   </div>
 <!-- coln5:end -->

 <!-- col 6:start -->
 <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img30.jpg" alt="">
    <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
     </div>    
   </div>
 <!-- coln6:end -->

     <!-- row 5:end -->
   </div>


   <!-- row 6:start -->
<div class="row g-5 mt-3">
      
  <!-- col 1:start -->
  <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
        <img   class="img-fluid" src="./public/images/img31.jpg" alt="">
        <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
       </div>
     <!-- coln1:end -->
     <!-- col 2:start -->
     <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img32.jpg" alt="">
     
      <span>
        <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
     </span> 
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
     </div>
   <!-- coln2:end -->

   <!-- col 3:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img33.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
       </div>   
     </div>
   <!-- coln3:end -->

   <!-- col 4:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img34.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
       </div>    
     </div>
   <!-- coln4:end -->

   <!-- col 5:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img35.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>     
     </div>
   <!-- coln5:end -->

   <!-- col 6:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box text-center py-3">
      <img  class="img-fluid" src="./public/images/img36.jpg" alt="">
      <span>
          <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
       </span>
       <div>
        <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
        <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
       </div>    
     </div>
   <!-- coln6:end -->

       <!-- row 6:end -->
     </div>


     <!-- row 7:start -->
<div class="row g-5 mt-3">
    
<!-- col 1:start -->
<div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
      <img   class="img-fluid" src="./public/images/img37.jpg" alt="">
      <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
     </div>
   <!-- coln1:end -->
   <!-- col 2:start -->
   <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img38.jpg" alt="">
   
    <span>
      <i class="fa fa-inr fw-bold fs-5 py-2  " aria-hidden="true">550</i>
   </span> 
   <div>
    <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
    <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> </div>   
   </div>
 <!-- coln2:end -->

 <!-- col 3:start -->
 <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img39.jpg" alt="">
    <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button> 
     </div>   
   </div>
 <!-- coln3:end -->

 <!-- col 4:start -->
 <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img40.jpg" alt="">
    <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>   
     </div>    
   </div>
 <!-- coln4:end -->

 <!-- col 5:start -->
 <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img41.jpg" alt="">
    <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
     </div>     
   </div>
 <!-- coln5:end -->

 <!-- col 6:start -->
 <div class="col-6  col-md-4 col-lg-2 mx-auto box1 text-center py-3">
    <img  class="img-fluid" src="./public/images/img42.jpg" alt="">
    <span>
        <i class="fa fa-inr fw-bold fs-5 py-2" aria-hidden="true">545</i>
     </span>
     <div>
      <button class="btn btn-sm blue text-white mt-2"> Quick View</button>
      <button class="btn btn-sm blue text-white mt-2">Add to Cart</button>  
     </div>    
   </div>
 <!-- coln6:end -->

     <!-- row7:end -->
   </div>


<!-- pagination :start -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
   <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">6</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
<!-- pagination :end -->
<!-- container:end -->
</div>
<%- include('./common/footer.ejs')%> 
<script src="./public/js/common.js"></script>
</body>
</html>