<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/footer.css">
</head>
<body>
    <footer class="bg-black p-4  text-white text-center">
        <p class="m-0 text-white">copyright &copy; <a class="text-purplelight" href="/">Online Toys Store</a> All rights reserved</p>
        <div class="p-2">
          <a class="fw-bold bg-primary" href="https://www.facebook.com/">
            <i class="fa fa-facebook p-2 text-white"></i>
          </a>
          <a class="fw-bold bg-info" href="https://www.twitter.com/">
            <i class="fa fa-twitter p-2 text-white"></i>
                </a>
          <a class="fw-bold bg-danger" href="https://www.instagram.com/">
            <i class="fa fa-instagram  p-2 text-white"></i>
          </a>
          <a class="fw-bold bg-success" href="https://www.whatsapp.com/">
            <i class="fa fa-whatsapp  p-2 text-white"></i>
          </a>
          <a class="fw-bold bg-primary" href="https://www.linkedin.com/">
            <i class="fa fa-linkedin  p-2 text-white "></i>
          </a>
        </div>
    
      </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>